<li class="card grid-item">
  <div class="card__image-container">
    <img src="<%= painting.images.thumbnail %>" alt="<%= painting.name %>" width="<%= painting.images.thumbnailSize.width %>" height="<%= painting.images.thumbnailSize.height %>" />
    <div class="card__image-overlay"></div>
  </div>

  <div class="card__text">
    <h2 class="card__title">
      <a class="card__title-link" href="/paintings/<%= painting.id - 1 %>"> <%= painting.name %> </a>
    </h2>
    <h3 class="card__sub-title"><%= painting.artist.name %></h3>
  </div>
</li>
