<div class="progress-bar-wrapper">
  <div class="progress-bar"></div>
</div>

<div class="controls-container">
  <div class="controls__text-container">
    <h4 class="controls__title"><%= paintings[index].name %></h4>
    <p class="controls__text"><%= paintings[index].artist.name %></p>
  </div>
  <div class="controls__btns">
    <% if (index === 0) { %>
    <a aria-label="next slide" class="controls__btn-next" href="/paintings/<%= index+1 %>"><img aria-hidden="true" class="controls__btn-next-img" src="<%= "/images/shared/icon-next-button.svg" %>" alt="next" /></a>
    <% } %> <% if (index >= 1 && index <= 13) { %>
    <a aria-label="previous slide" class="controls__btn-back" href="/paintings/<%= index-1 %>"><img aria-hidden="true" class="controls__btn-back-img" src="<%= "/images/shared/icon-back-button.svg" %>" alt="back" /></a>
    <a aria-label="next slide" class="controls__btn-next" href="/paintings/<%= index+1 %>"><img aria-hidden="true" class="controls__btn-next-img" src="<%= "/images/shared/icon-next-button.svg" %>" alt="next" /></a>
    <% } %> <% if (index === 14) { %>
    <a aria-label="previous slide" class="controls__btn-back" href="/paintings/<%= index-1 %>"><img aria-hidden="true" class="controls__btn-back-img" src="<%= "/images/shared/icon-back-button.svg" %>" alt="back" /></a>
    <% } %>
  </div>
</div>
